.playerImage {
    object-fit: cover;
    height: max-content;
    width: max-content;
}

.displayPlayerImage {
    position: relative;
    z-index: 1;
    top: 28px;
    left: 13px;
    text-align: right; 
}

.smallHeadShot{
    background-color:#dbdbde;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 56px;
    width: 56.11px;
    border-radius: 50%;
    border: 0px solid black;
}

.selectVS {
    background-color: inherit;
}

.fontHover:hover {
    font-weight: normal;
}

.fontHover {
    font-weight: lighter;
}

.performanceHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7d91a6;
    font-size: 12.85px;
}

.performanceRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0px;
    border-bottom: 2px solid #2a2c3e
}

.performanceTitleRow {
    display: flex;
    font-weight: bold;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 2px dashed #0f0f0f
}

.performanceSubTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 1px dashed #0f0f0f
}

.performanceSubEndTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 2px solid #2a2c3e
}

.performanceEndTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 0px solid #2a2c3e
}