.playerImage {
    object-fit: cover;
    height: max-content;
    width: max-content;
}

.teamLogo {
    position: relative;
    z-index: 1;
    top: 40px;
    left: 40px;
}

.smallHeadShot {
    width: 70px; 
    height: 70px;
    background-color:#dbdbde;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 105px;
    border-radius: 50%;
    border: 0px solid black;
}

.playerOwnedTitle {
    font-weight: bold;
    font-size: 9.5px;
    padding-top: 10px;
    text-align: center;
}

.selectVS {
    background-color: inherit;
}

.fontHover:hover {
    font-weight: normal;
}

.fontHover {
    font-weight: lighter;
}

.performanceHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7d91a6;
    font-size: 12.85px;
}

.performanceRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0px;
    border-bottom: 2px solid #2a2c3e
}

.performanceTitleRow {
    display: flex;
    font-weight: bold;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 2px dashed #0f0f0f
}

.performanceSubTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 1px dashed #0f0f0f
}

.performanceSubEndTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 2px solid #2a2c3e
}

.performanceEndTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 0px solid #2a2c3e
}

.anchorCell:hover {
    background: #1b2025;
    border-radius: 2px;
}
  
.anchorCell, .anchorCell:hover, .anchorCell:active{
    color: inherit;
    text-decoration: none;
}

.anchorCell {
    display: flex;
    align-items: center;
    width: 100%;
}

.playerHeadShot{
    background-color:#dbdbde;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 55px;
    width: 40px;
    border-radius: 5%;
    border: 0px solid black;
}
.icon {
    color: #a9dfd8;
    font-size: 1.3rem;
}
/* .allTimeToggle {
    background:linear-gradient(360deg, rgba(116,178,221,1) 0%, rgba(114,202,224,1) 20%, rgba(51,193,189,1) 50%, rgba(80,204,147,1) 100%);
    border-radius: 7px;
    padding: 2px;
}

.allTimeToggleCover {
    background:black;
    border-radius: 7px;
    padding: 4px;
    padding-inline: 8px;
    color: whitesmoke;
} */