
.headshot {
    border-radius: 5%;
    background-color: #111111;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 115px;
}

.positionHUD {
    text-align: center;
}

.showPages {
    display: flex;
    align-items: baseline;
    border-bottom: none; 
    background: inherit;
    color: #e4e1e0;
    font-weight:normal;
    padding-block: 3px;
}

.selectTag {
    background-color: black;
    color: white;
    border: none;
}