.ownerImage {
    border-radius: 5%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 25px;
    width: 25px;
}

.headshot {
    border-radius: 50%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 60px;
    width: 60px;
}

.dashedRow {
    border-bottom: 1px dashed #111827
}

.solidRow {
    border-bottom: 1px solid #111827
}

.transactionList {
    /* width: 350px; */
    height: max-content;
    border: 1px solid #111827;
    border-radius: 5px;
}

.filterBtn {
    display: flex;
    align-items: center;
    background-color: inherit;
    width: max-content;
    padding: 6px;
    padding-inline: 1em;
    border-radius: 5px;
}

.icon {
    margin-right: 2px; 
    color: #a9dfd8; 
    font-size: 1em;
}

.hover {
    padding: 4px;
}
.hover:hover {
    background-color: #111827;
    border-radius: 8%;
}