.ownerImage {
    border-radius: 5%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 25px;
    width: 25px;
}

.headshot {
    border-radius: 50%;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 60px;
    width: 60px;
}

.dashedRow {
    border-bottom: 1px dashed #2a2c3e
}

.solidRow {
    border-bottom: 2px solid #2a2c3e
}

.transactionList {
    width: max-content;
    height: max-content;
}

.filterBtn {
    display: flex;
    align-items: center;
    background-color: inherit;
    width: max-content;
    padding: 6px;
    padding-inline: 1em;
    border-radius: 5px;
}

.transactionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: max-content;
    border-radius: 4px;
    border: 2px solid #2a2c3e;
}

.icon {
    margin-right: 2px; 
    color: #a9dfd8; 
    font-size: 1em;
}