.matchupContainer {
    display: flex;
    justify-content: center;
}

.teamContainer {
    background-color: inherit;
    width: 250px;
}
.teamAvatar {
    min-width: 69px; 
    min-height: 69px;
    background-repeat: no-repeat;
    background-size: 69px;
}
.teamLogo { 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.player {
    width: 55px; 
    height: 55px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.playerInfo {
    font-size: x-small;
    border-radius: 20px;
    background-color: rgba(180, 180, 180, 0.3);
    color: inherit;
    padding-inline-end: 5px;
    padding-inline-start: 2px;
    padding-block: 1px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: fit-content;
}
.positionHUD {
    width: 30px;
    background-color: #0f0f0f;
    font-size:x-small;
    margin-block: 12px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.position {
    background-color: #0f0f0f71;
    border-radius: 20px;
    width: 25px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}