.matchupContainer {
    display: flex;
    justify-content: center;
}

.teamContainer {
    background-color: inherit;
    width: 300px;
}
.teamAvatar {
    min-width: 69px; 
    min-height: 69px;
    background-repeat: no-repeat;
    background-size: cover;
}
.teamLogo { 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.player {
    width: 70px; 
    height: 70px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.playerInfo {
    font-size: x-small;
    border-radius: 20px;
    background-color: rgba(180, 180, 180, 0.3);
    color: inherit;
    padding-inline: 2px;
    padding-block: 1px;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: fit-content;
}
.positionHUD {
    width: 30px;
    background-color: #0f0f0f;
    font-size:x-small;
    padding-block: 12px;
    margin-bottom: 5.7em;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.position {
    background-color: #0f0f0f71;
    border-radius: 20px;
    width: 25px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statContainer {
    padding: 4px;
    display: flex; 
    align-items: center; 
    color: #A3BBD3;
    font-size: 10px;
}