.hover {
    padding-block: 2px;
}
.hover:hover {
    background-color: #0f0f0f;
    border-radius: 5%;
}
.selectWeek:hover {
    /* background-color: #0f0f0f; */
    border-radius: 5%;
}

.selectWeek {
    background: inherit;
    padding: 12px;
    display: flex;
    align-items: center;
    font-size: x-large;
    width: 220px;

}

.modal {
    border-radius: 2px;
    display: flex;
    /* flex-wrap: wrap; */
    position: absolute;
    width: 220px;
    height: 200px;
    background-color: rgba(48, 48, 48, 0.9);
    padding: 8px;
    z-index: 1;
    top: 80%; /* Adjust the value as needed */
    left: 0;
    font-size: 12px;
}

.selectedParam {
    font-weight: bold;
    color: #00f0d0;
};

 /* For WebKit (Chrome, Safari) */
.selectWeekScroll {
    width: 5px;
}
.selectWeekScroll::-webkit-scrollbar {
    width: 5px;
}

.selectWeekScroll::-webkit-scrollbar-thumb {
    background-color: #757575;
    border-radius: 5px;
}

.selectWeekScroll::-webkit-scrollbar-track {
    background-color: inherit;
}

.applySearch {
    background-color: black;
    color: white;
    padding: 4px;
    padding-inline: 10px;
    margin-left: 4px;
}
.applySearch:hover {
    color: #a9dfd8;
}

.scroll {
    overflow: auto;
}

.awardCard {
    text-align: center;
    width: 100px;
    margin-inline: 10px;
}

.arrow {
    padding: 6px;
    /* border-radius: 25%;
    border: 2px solid #2b2b2b; */
    font-size: small;
    font-weight: 100;
}

.matchupNav {
    background: linear-gradient(0deg, rgba(0,0,0,0.577468487394958) 0%, rgba(0,0,0,1) 80%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 99999;
    padding-block: 10px;
}

.icon {
    font-size: 32px;
    color: #a9dfd8;
}