.teamNav {
    width: 93%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 64.5px;
    padding-bottom: 6px;
    position: fixed;
    z-index: 999;
    top: 0;
}

.tab {
    text-align: center;
    padding: 10px;
    padding-inline: 35px;
}

#selectSeason {
    background-color: black;
    color: lightgray;
    font-weight: bold;
}
/* change the blue highlight color over hovering the options */
#selectSeason:hover {
    background: linear-gradient(49deg, rgba(15,15,15,1) 0%, rgba(17,17,17,1) 100%);
    border-radius: 5px;
    background-color: rgba(17,17,17,1);
    color: white;
}