.teamNav {
    width: 93%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 75px;
    padding-bottom: 8px;
    position: fixed;
    z-index: 999;
    top: 0;
}

.teamBody {
    margin-top: 70px;
}

.tab {
    text-align: center;
    padding: 10px;
    padding-inline: 35px;
}

#selectSeason {
    background-color: black;
    color: lightgray;
    font-weight: bold;
}
/* change the blue highlight color over hovering the options */
#selectSeason:hover {
    border-radius: 5px;
    color: white;
}

.icon {
    font-size: 24px;
    color: #a9dfd8;
}