.teamNav {
    width: 93%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 12px;
    position: fixed;
    z-index: 999;
    top: 0;
}
.value {
    font-weight:500;
}
.selectSeasonContainer {
    display: flex;
    align-items: center;
    color: lightgray;
    background-color: black;

    font-weight: bold;
}

#selectSeason {
    background: black;
    color: white;
    font-weight: bold;
}
/* #selectSeason:hover {
    color: white;
} */
#selectSeason:focus {
    outline: none;
}

.icon {
    font-size: 24px;
    color: #a9dfd8;
    margin-right: 4px;
}