.selectLeagueRanking {
    font-weight: bold;
    background-color: black;
    border: none;
    color: white;
    margin-left: 4px;
}
.selectLeagueRanking:focus {
    outline: none;
}

.selectRankingSeason {
    font-size: .8em;
    border-radius: 9px; 
    border: 2px solid #3bdbba;
    background: black;
    color: white;
    padding-inline: 9px;
    padding-block: 4px;
}

.standingCell:hover{
    color: white;
}

.anchorCell:hover {
    background: #1b2025;
    border-radius: 2px;
}

.anchorCell, .anchorCell:hover, .anchorCell:active{
    color: inherit;
    text-decoration: none;
}

.anchorCell {
    display: flex;
    align-items: center;
    width: 100%;
}

.userAvatar {
    border-radius: 50%;
    width: 29px;
}

.performanceHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #7d91a6;
    font-size: 12.85px;
}

.performanceRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0px;
    border-bottom: 2px solid #2a2c3e
}

.performanceTitleRow {
    display: flex;
    font-weight: bold;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 2px dashed #0f0f0f
}

.performanceSubTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 1px dashed #0f0f0f
}

.performanceSubEndTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 2px solid #2a2c3e
}

.performanceEndTitleRow {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding-block: 16px;
    border-bottom: 0px solid #2a2c3e
}

.tableHeader {
    display: flex;
    align-items: center;
    padding-block: .75rem;
    border-bottom: 2px solid #2a2c3e;
    font-size: .7rem;
    font-weight: bold;
    color: #7d91a6;
}

.icon {
    color: #a9dfd8;
    font-size: 1.5rem;
}