.sectionTitle {
    padding-top: 50px;
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.icon {
    color: #a9dfd8;
    font-size: 1.6em;
}

.body {
    padding-top: 44px;
}