.dashboardLayout {
    min-height: 100vh;
    width: calc(100% - 200px);
    transition: .5s;
    background-color: rgb(0, 0, 0);
}
.dashboardContent {
    padding-top: 4rem;
    padding-inline: 4em;
}