.arrow {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    border-radius: 50%;
    background-color: #111111;
    /* color: #a9dfd8;  not working? check Owner page match colon icon*/ 
}

.qbHUD {
    background: linear-gradient( -135deg, #f20000 10%, #f5286ce1 100%);
}
  
.rbHUD {
    background: linear-gradient( -135deg, #00ccb4 10%, #36ceb7bd 100%);
}
  
.wrHUD {
    background: linear-gradient( -135deg, #0095ff 10%, #58a6ffd0 100%);
}
  
.teHUD {
    background: linear-gradient( -135deg, #fe8800 10%, #faae58 100%);
}

.kHUD {
    background: linear-gradient( -135deg, #bd66ff 10%, #cb86ff85 100%);
}

.defHUD {
    background: linear-gradient( -135deg, rgb(245, 245, 220) 10%, rgba(245, 245, 220, 0.342) 100%);
}

.playerHeadShot{
    background-color:#dbdbde;
    background-repeat: no-repeat;
    background-position: center;
    background-size:90px;
    height: 55px;
    width: 40px;
    border-radius: 5%;
    border: 0px solid black;
}

.positionedLogo{
    position: relative;
    z-index: 1;
    top: 30px;
    left: 16px;
    text-align: right; 
}

#selectTag {
    border: "none"; 
    background: "inherit";
    color: "#7d91a6";
    font-size: ".7rem";
    font-weight: "bold";
}

#showPages {
    display: flex;
    align-items: center;
    border-bottom: "none"; 
    background: "inherit";
    color: "#e4e1e0";
    font-size: "13.5px";
    font-weight:"normal";
    padding-block:"3px";
}
.hover:hover {
    background-color: #2a2c3e;
}

.hoverText:hover {
    color: white;
}

.selectTrend {
    background-color: black;
    font-size: small;
}