.avatarBackground {
    background: linear-gradient(360deg, rgba(116,178,221,1) 0%, rgba(114,202,224,1) 20%, rgba(51,193,189,1) 50%, rgba(80,204,147,1) 100%);
    padding: 3px;
    border-radius: 50%;
}