/* .matchupSlide {
    display: flex;
    align-items: center;
} */

.matchupCard {
    display: flex;
    align-items: center;
    background-color: #0f0f0f;
    height: 110px;
    font-size: small;
}

/* .playerBackground {
    height: 120px;
} */

.teamLogo {
    width: 50px; 
    height: 110px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 50px;
}
.teamAvatar {
    min-width: 25px; 
    min-height: 25px;
    background-repeat: no-repeat;
    background-size: 25px;
}
.teamCard {
    display: flex;
    align-items: center;
}

.teamInfo {
    height: 110px;
}
.player {
    width: 100%; 
    height: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 110px;
}